@model IEnumerable<Hakuturu.Models.PcInfoItem>

@{
    ViewBag.Title = "Index";
}

<h2>PC情報</h2>

<p>
    @Html.ActionLink("新規登録", "Create")


    @using (Html.BeginForm("Index", "PcInfoItems", FormMethod.Get))
    {
        <table>
            <tr>
                <td>PC管理番号:</td>
                <td>@Html.TextBox("PcNo")</td>
            </tr>
            <tr>
                <td>IPアドレス:</td>
                <td>@Html.TextBox("IpAddress")</td>
            </tr>
            <tr>
                <td>使用区分:</td>
                <td>@Html.TextBox("UseSegment")</td>
            </tr>
            <tr>
                <td>機種:</td>
                <td>@Html.TextBox("ModelName")</td>
            </tr>
            <tr>
                <td>型番:</td>
                <td>@Html.TextBox("ModelNo")</td>
            </tr>
            <tr>
                <td>使用者名:</td>
                <td>@Html.TextBox("UserName")</td>
            </tr>
            <tr>
                <td>PC名:</td>
                <td>@Html.TextBox("PcName")</td>
            </tr>
        </table>
        <input type="submit" value="検索" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PcNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseSegment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PcNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IpAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UseSegment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PcName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id=item.ID }) |
            @Html.ActionLink("詳細", "Details", new { id=item.ID }) |
            @Html.ActionLink("削除", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
