@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
 }

<h2>PC情報</h2>

<p>
    @Html.ActionLink("新規登録", "Create")

    @using (Html.BeginForm("Index", "InfoItems", FormMethod.Get))
    {
        <div>
            PC管理番号: @Html.TextBox("PcId")
            IPアドレス: @Html.TextBox("IpAddress")
            使用区分: @Html.TextBox("UseSegment")
            機種: @Html.TextBox("ModelName")
            型番: @Html.TextBox("ModelNo")
            使用者名: @Html.TextBox("UserName")
            PC名: @Html.TextBox("PcName")
            <input type="submit" value="検索" />
        </div>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PcId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseSegment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PcId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UseSegment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.ActionLink("編集", "Edit", new { id = item.PcId }) |
                @Html.ActionLink("削除", "Delete", new { id = item.PcId })
            </td>
        </tr>
    }

</table>